registry = https://registry.npmjs.org

public-hoist-pattern[]=husky
public-hoist-pattern[]=*biome*
public-hoist-pattern[]=@biomejs*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=core-js
public-hoist-pattern[]=sass

enable-pre-post-scripts=true
engine-strict=true
package-manager-strict=false


shamefully-hoist=true
node-linker=hoisted
symlink=false